.header{
    display: flex;
    background-color: rgb(125, 120, 120);
    /* width:100vw; */
    max-width: 97vw;
    min-width: 100%;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    margin-bottom: 0;
}

.header .logo{
    gap: 0.81rem;
    padding: 0 10px;
}

.header .logo h1{
    font-size: 2rem;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-left: 1rem;
}


.searchbox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(72, 72, 72);
    border-radius: 0.81rem;
    padding: 0.65rem;
    gap: 0.4em;
}
.searchinput{
    /* border-style: none; */
    border: none;
    border-radius: 0.81rem;    
    font-size: 1.4rem;
    /* padding: 0.65rem; */
    width: 450px;
    background-color: rgb(72, 72, 72);
    color:  rgb(182, 182, 182);
    overflow: hidden;
    outline: none;
}
.searchinput[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }
  
.searhinput{
    width: auto;
    background: transparent;
    border-style: none;
    background-color: rgb(13, 130, 233);
}
.search input:focus{
    border: transparent;
}

.settingbtn{
    padding: 0.3em 0.6em;
    /* border-radius: 50%; */
    
}