/* Main section padding (responsive simulation can be done using media queries) */
.userSection {
    /* padding-top: 12%; */
    padding-left: 0;
    color: whitesmoke;
    background-color: #242424;
  }
  
  
  
  /* Heading */
  .userHeading {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 0.5rem; */
    padding-bottom: 0.5rem;
    font-weight: 600;
  }
  
  /* Table scroll */
  .userTableContainer {
    overflow-x: scroll;
    width: 100%;
    align-items: center;
    display: flex;
  }
  table{
    width: 90%;
    padding: 1rem;
  }
  /* Button */
  .btn {
    /* Define your own button styles here if needed */
    background: none;
    border: none;
    cursor: pointer;
  }
  
  /* Sorting icon */
  .sort-icon {
    margin-right: 1rem;
  }
  
  /* Pagination layout */
  .paginationContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem 1.5rem 7rem;
  }
  
  .paginationInfo,
  .paginationPageCount,
  .paginationLabel {
    font-size: 0.875rem;
  }
  
  .paginationSelectContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .paginationSelect {
    border-radius: 9999px;
    margin: 0 1rem;
    padding: 0.25rem 0.5rem;
    border: 2px solid #cbd5e1;
  }
  
  .paginationSelect:hover {
    border-color: #94a3b8;
  }
  
  .paginationButtons {
    display: flex;
    gap: 0.5rem;
  }
  
  .paginationArrow {
    cursor: pointer;
  }
  