/* *{
  margin: 0;
  padding: 0;

} */

body {
  /* background-image: linear-gradient(to right, #64aaeb64, #a7a6ff52); */
  background-color: black;
  margin: 0;
  padding: 0;
  /* background-color: black; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-repeat: no-repeat;
}


@media only screen and (min-width: 768px) and (max-width:1024) {
  body{
    background-image: linear-gradient(to right, #64aaeb64, #a7a6ff52);
    width: 100%;
  }
}